<!DOCTYPE html>
{% extends "MedBotApp/base.html" %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static "MedBotApp/css/change_password.css" %}">
    <div class="selectpanel">
        <div class="container">
            <div class="welcome"><h2>Change Password</h2></div>
            
            <form method="POST">
                <div class="line">
                    <!-- Old Password -->
                    <label for="cp">Enter&nbsp;Current&nbsp;Password</label>
                    <input type="password" name="cp" id="cp" required>
                </div>
                <div class="line">
                    <!-- New Password -->
                    <label for="np">Enter&nbsp;New&nbsp;Password</label>
                    <input type="password" name="np" id="np" required>
                </div>
                <div class="line">
                    <!-- Re New Password -->
                    <label for="rnp">Reenter&nbsp;New&nbsp;Password</label>
                    <input type="password" name="rnp" id="rnp" required>
                </div>
                
                {% csrf_token %}

                <div class="line">
                    <button type="submit">Change Password</button>
                </div>
            </form>
            <a href="/account">&lt; Back</a>
        </div>
    </div>
{% endblock %}