<!DOCTYPE html>
{% extends "MedBotApp/base.html" %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static "MedBotApp/css/error.css" %}">
    <div class="selectpanel">
        <h2 id="error_welcome">Error Page</h2>
        {% if error_status == 1 %}
            <h2>{{ error_msg }}</h2>
            {% autoescape off %}
            <p>{{ extra_msg }}</p>
            {% endautoescape %}
            <!-- <br> -->
            <a href="{{ back_url }}">&lt; Back</a>
        {% else %}
            <h2>Dummy Error Message.</h2>
            <!-- <br> -->
            <h4>Also, why are you here?</h4>
            <!-- <br> -->
            <a href="/">&lt; Back</a>
        {% endif %}
    </div>
{% endblock %}