body
{
  font-family: 'Poppins', sans-serif;
}

.selectpanel
{
  flex-basis: 95%;
  width: 92%;

  display: flex;
  flex-direction: column;

  overflow: auto;
  align-items: center;

  border: 2px #a8a8a8 solid;
  border-radius: 10px;
  margin: 10px 0 25px 0;
  background-color: rgba(247, 250, 249, 0.5);
}

#error_welcome
{
    color: brown;
}

p
{
  text-align: center;
}

/**************************************/

a
{
    margin: 15px auto;
    text-decoration: none;
    color: black;
}
