body
{
    font-family: 'Poppins', sans-serif;
}

.regpanel
{
  flex-basis: 95%;
  width: 92%;

  display: flex;
  /* flex-direction: column; */

  overflow: auto;

  border: 2px #a8a8a8 solid;
  border-radius: 10px;
  margin: 10px 0 25px 0;
  background-color: rgba(247, 250, 249, 0.5);
}

.container
{
    min-width: 60%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    margin: auto;
    margin-top: 5%;

    /* border: 2px red solid; */
}

.welcome
{
  border-radius: 10px;
  /* border: 2px red solid; */
  /* margin-bottom: 10px; */

  display: flex;

  /* font-family: 'Poppins', sans-serif; */
  font-weight: 600;
  color: #03574a;
  font-size: 20px;
  text-shadow: 0 0 20px white;
  line-height: 50px;

}

.welcome h2
{
  margin: 10px auto;
}

/*********************************************************/

form
{
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input[type="text"], form input[type="password"]
{
    border-radius: 15px;
    border: 2px #07ba76 solid;
    width: 70%;
    height: 30px;

    margin: auto;
    padding: 0 auto;

    text-align: center;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 300;
}

form input[type="text"]:focus, form input[type="password"]:focus
{
  outline: none;
  box-shadow: 0px 0px 20px #98a9b5, 0px 0px 20px #98a9b5;
}


/* Gender Radio Selection */
form .genderadio
{
    margin: 10px auto;
    border-radius: 15px;
    border: 2px #07ba76 solid;
    /* border: none; */
    padding: 10px 20px;
}

form .genderadio .myradio
{
    margin-right: 10px;
}

form input[type="radio"]
{
    width: 20px;
    height: 20px;
    -webkit-appearance: inherit;
    border-radius: 50%;
    border: 2px #07ba76 solid;
    /* background-color: #07ba76; */
    /* display: none; */
    /* opacity: 0; */
}

form input[type="radio"]:checked
{
    outline: none;
    box-shadow: 0px 0px 20px #98a9b5, 0px 0px 20px #98a9b5;
    background-image: url("../assets/radio_butt.svg");
    background-position: center;
    /* background-color: teal; */
}

.myradio label
{
    vertical-align: top;
    position: relative;
    top: 5px;
}
/************************************************/

/* DoB */
form label
{
    margin: auto;
}

form input[type="date"]
{
    border-radius: 15px;
    border: 2px #07ba76 solid;
    width: 60%;
    height: 30px;

    margin: 5px auto;
    padding: 0 10px;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 300;
}

form input[type="date"]:focus
{
  outline: none;
  box-shadow: 0px 0px 20px #98a9b5, 0px 0px 20px #98a9b5;
}

.consent
{
    margin: 5px auto 20px;
    text-align: center;
}
.consent *
{
    /* display: inline-block; */
    width: 70%;
    padding: 0;
    margin: auto;
}

button
{
    margin: 5px auto;

    width: 30%;
    /* height: 20px; */
    padding: 5px;

    border-radius: 20px;
    border: 2px #07ba76 solid;

    background-color: #07ba76;
    color: white;

    font-size: 18px;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 500;
}

button:active
{
  background-color: black;
}

/*******************************************************/

a
{
    margin: 5px auto;
    text-decoration: none;
    color: black;
}
